.feuer {
    font-size: 75pt;
    font-weight: bold;
    text-shadow: 0px 0px 10px white,
    5px -5px 10px #F8FF9D,
    -10px -10px 20px #F5FE5C,
    10px -15px 20px #FDDB33,
    -10px -20px 20px #FFC126,
    10px -25px 20px #FF7808,
    -10px -30px 20px #F95801,
    15px -35px 20px #FE7606,
    -15px -40px 20px #FD5C01,
    15px -45px 15px #E54600,
    -20px -50px 15px #D23700,
    20px -55px 15px #B82B00,
    -20px -60px 15px #A11301,
    20px -65px 15px #981D01,
    -25px -70px 10px #851200,
    25px -75px 10px #690D00,
    -25px -80px 10px #3E0600;
}
